html, body {
  height: 100%;
  margin: 0;
  background: #eaeded;
}
.texture {
  background: url('https://wallpaperscraft.com/image/texture_vintage_wall_background_dark_93580_1920x1080.jpg');
  height: 100%;
  width: 20%;
  top: 0;
  left: 0;
  vertical-align: middle;
  margin: 0;
  position: fixed;
}
.texture > img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  object-fit: cover;
  margin: 20% 20%;
}
.texture > .social {
  margin: auto;
  position: absolute;
  top: 90%;
}
.social:hover {
  background: orange;
}
.linkedin {
  left: 50%;
}
.github {
  left: 20%;
}
.menu {
  text-decoration: none;
  color: white;
  font-size: 20px;
  margin-top: 10px;
  display: block;
  position:relative;
  top: 0;
  left: 30%;
}
.menu:hover {
  color: gray;
}
#applications {
  right: 0;
}
